* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    width: 100%;
    height: 3840px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.home-container{
    max-width: 100%;
    min-height: 100vh;
    
}
.nav{
    display: flex;

    
}
.logo{
    margin-top: 20px;
}
.nav-links ul{
    display: flex;
    justify-content:end;
    list-style: none;
    gap: 20px;
    margin-right: 50px;
}
/* title section*/

.title-container{
    justify-content: flex-start;
    width: 635px;
    height: 251px;
    line-height: 5rem;

}
.text{
    font-weight: bold;
    color: #4A4FF2;


}
.text-info{
    color: #111111;
    font-size: 30px;
    line-height: 2rem;

}
.blue{
    color: #4A4FF2;
}
.Quote{
    display: flex;
    justify-content: end;
    
}
.Quote-text{
    justify-content: end;
    margin-bottom: 50px;
    margin-right: 70px;
    color: #979797;
    font-style: italic;
}
/*img section*/

.img-container{ /* need to fix*/
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    max-width: 100%;
    height: 1960px;


}
.gallary{
 

}
#img1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
#img2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 15;
}
/* Group section */

.group-container{
    display: flex;
    justify-content: space-between;
    
    
}
.group-text{
    color: #111111;
    font-weight: bold;
    font-size: 25px;
    width: 635px;
    height: 106px;
    text-decoration: none;
    margin-right: 50px;
}
.imp-services{ /* need to remove dots */
    
    
}
.other-services{
    text-decoration: none;
    line-height: 3rem;
    margin-bottom: 20px;
    margin-right: 50px;
    
}

.services{
    line-height: 3rem;
    margin-bottom: 20px;
    

}
/* divider */

hr{
    border-top: 1px solid #979797;
    margin-top: 100px;
}
